<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <meta name="theme-color" content="#FF0000" />
    <meta name="description" content="Buket Spesial untuk Orang yang Paling Spesial!">
    <link rel="apple-touch-icon" href="/src/public/icons/icon192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./round.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Flowry Bouquet</title>
</head>

<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1><a class="judul" href="#/landing-page">Flowry Bouquet</a></li>
            </h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li class="nav-page"><a href="#/feedback">Feedback</a></li>
                <li class="nav-page"><a href="#/wishlist">Wishlist</a></li>
                <li class="nav-page"> <a href="#/faq">FAQ</a></li>
                <li class="nav-page"> <a href="#/admin-bouquet">Admin</a></li>
                <!-- <li class="nav-page"> <a href="#/detail">Detail</a></li> -->
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <p class="footer-desc">Kunjungi Katalog kami di Sosial Media/Marketplace</p>
        <p>
            <a href="https://www.instagram.com/flowry.bouquet/" target="_blank" rel="noopener noreferrer">
                Instagram
            </a> |
            <a href="https://www.facebook.com/fitri.maldalifani.7/" target="_blank" rel="noopener noreferrer">
                Facebook
            </a>
        </p>
        <p>&copy; 2024 Flowry Bouquet Tebing Tinggi. By Billy & Habib. All rights reserved.</p>
    </footer>
</body>

</html>